<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zenq.ssm.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zenq.ssm.entity.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="admin_pwd" jdbcType="VARCHAR" property="adminPwd" />
    <result column="admin_tel" jdbcType="VARCHAR" property="adminTel" />
    <result column="admin_mail" jdbcType="VARCHAR" property="adminMail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_id, admin_pwd, admin_tel, admin_mail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  
<select id="selectByadminid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zenq.ssm.entity.Admin">
    insert into admin (id, admin_id, admin_pwd, 
      admin_tel, admin_mail)
    values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=VARCHAR}, #{adminPwd,jdbcType=VARCHAR}, 
      #{adminTel,jdbcType=VARCHAR}, #{adminMail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zenq.ssm.entity.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminPwd != null">
        admin_pwd,
      </if>
      <if test="adminTel != null">
        admin_tel,
      </if>
      <if test="adminMail != null">
        admin_mail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null">
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminTel != null">
        #{adminTel,jdbcType=VARCHAR},
      </if>
      <if test="adminMail != null">
        #{adminMail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zenq.ssm.entity.Admin">
    update admin
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null">
        admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminTel != null">
        admin_tel = #{adminTel,jdbcType=VARCHAR},
      </if>
      <if test="adminMail != null">
        admin_mail = #{adminMail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zenq.ssm.entity.Admin">
    update admin
    set admin_id = #{adminId,jdbcType=VARCHAR},
      admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      admin_tel = #{adminTel,jdbcType=VARCHAR},
      admin_mail = #{adminMail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>