<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zenq.ssm.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.zenq.ssm.entity.Collect">
    <id column="collect_id" jdbcType="INTEGER" property="collectId" />
    <result column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  <sql id="Base_Column_List">
    collect_id, blog_id, id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </select>
  
  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
  </select>
  
  <select id="selectByCondition" parameterType="com.zenq.ssm.entity.Collect" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
    <where>
        <if test="blogId != null">
            and blog_id=#{blogId}
        </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zenq.ssm.entity.Collect">
    insert into collect (collect_id, blog_id, id
      )
    values (#{collectId,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zenq.ssm.entity.Collect">
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        collect_id,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="id != null">
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        #{collectId,jdbcType=INTEGER},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zenq.ssm.entity.Collect">
    update collect
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
    </set>
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zenq.ssm.entity.Collect">
    update collect
    set blog_id = #{blogId,jdbcType=INTEGER},
      id = #{id,jdbcType=INTEGER}
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
</mapper>