<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zenq.ssm.mapper.PlateMapper">
  <resultMap id="BaseResultMap" type="com.zenq.ssm.entity.Plate">
    <id column="plate_id" jdbcType="INTEGER" property="plateId" />
    <result column="plate_name" jdbcType="VARCHAR" property="plateName" />
  </resultMap>
  <sql id="Base_Column_List">
    plate_id, plate_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plate
    where plate_id = #{plateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plate
    where plate_id = #{plateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zenq.ssm.entity.Plate">
    insert into plate (plate_id, plate_name)
    values (#{plateId,jdbcType=INTEGER}, #{plateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zenq.ssm.entity.Plate">
    insert into plate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="plateId != null">
        plate_id,
      </if>
      <if test="plateName != null">
        plate_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="plateId != null">
        #{plateId,jdbcType=INTEGER},
      </if>
      <if test="plateName != null">
        #{plateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zenq.ssm.entity.Plate">
    update plate
    <set>
      <if test="plateName != null">
        plate_name = #{plateName,jdbcType=VARCHAR},
      </if>
    </set>
    where plate_id = #{plateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zenq.ssm.entity.Plate">
    update plate
    set plate_name = #{plateName,jdbcType=VARCHAR}
    where plate_id = #{plateId,jdbcType=INTEGER}
  </update>
</mapper>