<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- pageHelper -->
	<plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!-- 这两个是常用参数 -->
        <property name="helperDialect" value="mysql" />
        <!-- 如果超过页面范围，则显示第一/最后一页 -->
        <property name="reasonable" value="true" />
    </plugin>
</plugins>
</configuration>